<section class="contacts" id="сontact">
    <div class="container card__container">
        <h1 class="visually-hidden">Краулеры</h1>

        <ul class="card__list">
                <li class="card__block">
                    <p class="card__title">CAFE</p>
        <ul> 
            <li class="card__item">
                <p class="card__name">Chicago</p>
                <p class="card__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>  
            </li>
        </ul>
                <span class="card__line"></span>
        <ul> 
            <li class="card__item">
                <p class="card__day">Monday - Friday</p> 
                <p class="card__schedule">06:00 AM - 10:00 PM</p>
                <p class="card__day">Saturday - Sunday</p>  
                <p class="card__schedule card__schedule--margin">08:00 AM - 16:00 PM</p>   
            </li>
        </ul>

                <span class="card__line"></span>
        <ul> 
            <li class="card__item">
                <a class="card__contacts" href="tel:+610383766284">+61(0) 383 766 284</a>
                <a class="card__contacts" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
        </li>

    <li class="card__block">
                <p class="card__title card__title--middle">FOOD TRUCK</p>
        <ul> 
            <li class="card__item">
                <p class="card__name">Los Angeles</p>
                <p class="card__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </li>
            </ul>
                <span class="card__line"></span>
        <ul>
            <li class="card__item">
                <p class="card__day">Monday - Friday</p> 
                <p class="card__schedule">06:00 AM - 10:00 PM</p>
                <p class="card__day">Saturday - Sunday</p> 
                <p class="card__schedule card__schedule--margin">08:00 AM - 16:00 PM</p>
            </li>
            </ul>
            
                <span class="card__line"></span>
        <ul> 
            <li class="card__item">
                <a class="card__contacts" href="tel:+610383766284">+61(0) 383 766 284</a>
                <a class="card__contacts" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
        </ul>  
        </li>

        <li class="card__block">
            <p class="card__title">CAFE</p>
        <ul> 
            <li class="card__item">
                <p class="card__name">New York</p>
                <p class="card__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </li>
        </ul>       
                <span class="card__line"></span>
        <ul> 
            <li class="card__item">
                <p class="card__day">Monday - Friday</p> 
                <p class="card__schedule">06:00 AM - 10:00 PM</p>
                <p class="card__day">Saturday - Sunday</p> 
                <p class="card__schedule card__schedule--margin">08:00 AM - 16:00 PM</p>
            </li>
            </ul>
            
                <span class="card__line"></span>
        <ul> 
            <li class="card__item">
                <a class="card__contacts" href="tel:+610383766284">+61(0) 383 766 284</a>
                <a class="card__contacts" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
        </ul>
        </li>
        </ul>
    </div>

    <ul class="button__list">
        <li class="button__item">
            <button class="button button__text">Our Locations
                <svg class="button__icon" width="10" height="10">
                    <use href="./images/icons.svg#icon-whitevector">
                    </use>
                </svg>
            </button> 
        </li>
       <li class="button__item"> 
           <button class="button--reverse button__text">Franchise
            <svg class="button__icon" width="10" height="10">
                <use href="./images/icons.svg#icon-redvector">
                </use>
            </svg>
           </button> 
        </li>
    </ul>
</section>
