<section class="reviews">
    <div class="container">
        <picture>
            <source>
            <source>

            <img src="" alt="" class="reviews__avatar">
        </picture>

        <div class="slider">
            <p class="reviews__comment">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                nulla quam nunc, accumsan
                congue. Lorem ipsum primis in nibh vel risus.</p>
        </div>

        <p class="reviews__info"></p>

        <ul class="reviews__list">
            <li class="reviews__item">
                <button class="reviews__btn"></button>
            </li>

            <li class="reviews__item">
                <button class="reviews__btn"></button>
            </li>
            
            <li class="reviews__item">
                <button class="reviews__btn"></button>
            </li>
        </ul>
    </div>
</section>