<section class="reviews">
    <div class="container">
        <h2 class="visually-hidden">Customer reviews</h2>
        <picture>
            <img srcset="./images/reviewer.png 1x, ./images/reviewer@2x.png 2x" src="./images/reviewer.png" alt="Photo of reviewer" class="reviews__picture">
        </picture>

        <div class="slide">
            <p class="reviews__comment">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                nulla quam nunc, accumsan
                congue. Lorem ipsum primis in nibh vel risus.</p>
        </div>
        

        <p class="reviews__info">Emily, Los Angeles</p>
        
        <svg class="reviews__pagination">
            <use href="./images/icons.svg#icon-home"></use>
        </svg>

    </div>
</section>