<section class="reviews">
    <div class="container">
        <h2 class="visually-hidden">Customer reviews</h2>
        <picture>
            <source>
            <source>

            <img src="" alt="" class="reviews__avatar">
        </picture>

        <div class="slider">
            <p class="reviews__comment">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                nulla quam nunc, accumsan
                congue. Lorem ipsum primis in nibh vel risus.</p>
        </div>

        <p class="reviews__info"></p>

        <ul class="pagination">
            <li class="pagination__item">
                <button class="pagination__btn">
                    <svg>
                        <use href="./images/icons.svg#icon-home"></use>
                    </svg>
                </button>
            </li>

            <li class="pagination__item">
                <button class="pagination__btn"></button>
            </li>
            
            <li class="pagination__item">
                <button class="pagination__btn"></button>
            </li>
        </ul>
    </div>
</section>