<section class="gallery">
  <div class="container">
    <h2 class="gallery_title visually-hidden">Gallery</h2>
    <!-- <picture>
      <source
        srcset="./images/gallery1x.png 1x, ./images/gallery2x.png 2x"
        media="(min-width: 1280px)"
      />
      <source
        srcset="./images/gallery-tablet.png 1x, ./images/gallery-tablet2x.png 2x"
        media="(min-width: 768px)"
      />

      <source
        srcset="./images/gallery-mob.png 1x, ./images/gallery-mob2x.png 2x"
        media="(min-width: 480px)"
      />

      <img src="./images/gallery.png" alt="gallery" class="gallery_image" />
    </picture> -->
    <ul class="gallery__list">
      <li class="grid-sizer"></li>
      <li class="gutter-sizer"></li>
      <li class="gallery__item">
        <a href="./images/gallary/01.jpg" class="gallery__item-link">
          <img src="./images/gallary/01.jpg" alt="gallery" class="gallery_image" />
        </a>
      </li>
      <li class="gallery__item">
        <a href="./images/gallary/02.jpg" class="gallery__item-link">
          <img src="./images/gallary/02.jpg" alt="gallery" class="gallery_image" />
        </a>
      </li>
      <li class="gallery__item">
        <a href="./images/gallary/03.jpg" class="gallery__item-link">
          <img src="./images/gallary/03.jpg" alt="gallery" class="gallery_image" />
        </a>
      </li>
      <li class="gallery__item">
        <a href="./images/gallary/04.jpg" class="gallery__item-link">
          <img src="./images/gallary/04.jpg" alt="gallery" class="gallery_image" />
        </a>
      </li>
      <li class="gallery__item">
        <a href="./images/gallary/05.jpg" class="gallery__item-link">
          <img src="./images/gallary/05.jpg" alt="gallery" class="gallery_image" />
        </a>
      </li>
      <li class="gallery__item">
        <a href="./images/gallary/06.jpg" class="gallery__item-link">
          <img src="./images/gallary/06.jpg" alt="gallery" class="gallery_image" />
        </a>
      </li>
      <li class="gallery__item">
        <a href="./images/gallary/07.jpg" class="gallery__item-link">
          <img src="./images/gallary/07.jpg" alt="gallery" class="gallery_image" />
        </a>
      </li>
      <li class="gallery__item">
        <a href="./images/gallary/08.jpg" class="gallery__item-link">
          <img src="./images/gallary/08.jpg" alt="gallery" class="gallery_image" />
        </a>
      </li>
      <li class="gallery__item">
        <a href="./images/gallary/09.jpg" class="gallery__item-link">
          <img src="./images/gallary/09.jpg" alt="gallery" class="gallery_image" />
        </a>
      </li>
      <li class="gallery__item">
        <a href="./images/gallary/10.jpg" class="gallery__item-link">
          <img src="./images/gallary/10.jpg" alt="gallery" class="gallery_image" />
        </a>
      </li>
      <li class="gallery__item">
        <a href="./images/gallary/11.jpg" class="gallery__item-link">
          <img src="./images/gallary/11.jpg" alt="gallery" class="gallery_image" />
        </a>
      </li>
      <li class="gallery__item">
        <a href="./images/gallary/12.jpg" class="gallery__item-link">
          <img src="./images/gallary/12.jpg" alt="gallery" class="gallery_image" />
        </a>
      </li>
      <li class="gallery__item">
        <a href="./images/gallary/13.jpg" class="gallery__item-link">
          <img src="./images/gallary/13.jpg" alt="gallery" class="gallery_image" />
        </a>
      </li>
      <li class="gallery__item">
        <a href="./images/gallary/14.jpg" class="gallery__item-link">
          <img src="./images/gallary/14.jpg" alt="gallery" class="gallery_image" />
        </a>
      </li>
    </ul>
  </div>
</section>
