<section class="hero">
    <div class="hero__container container">
        <div class="nav-bar">ТУТ МЕНЮ</div>
        <picture>
            <source srcset="./images/hero-ice-cream-mobile.png 1x, ./images/hero-ice-cream-mobile@2x.png 2x"
                media="(max-width: 767px)" />
            <source srcset="./images/hero-ice-cream-tablet.png 1x, ./images/hero-ice-cream-tablet@2x.png 2x"
                media="(max-width: 1279px)" />
            <source srcset="./images/hero-ice-cream.png 1x, ./images/hero-ice-cream@2x.png 2x" media="(min-width: 1280px)" />
            <img class="hero__ice-cream" src="./images/hero-ice-cream-mobile.png" alt="Huge waffle cone ice cream">
        </picture>
        <div class="hero__wrap">
            <h1 class="hero__title">ice cream <br>made with 
                <span class="hero__title-accent">passion</span>
            </h1>
            <a class="hero__button-products button" href="">Products</a>
            <a class="hero__button-about button--reverse" href="">How it’s made?</a>
        </div>      
        <div class="hero__mug-container">
            <picture>
                <source srcset="./images/hero-milk-mug-tablet.png 1x, ./images/hero-milk-mug-tablet@2x.png 2x"
                    media="(max-width: 1279px)" />
                <source srcset="./images/hero-milk-mug.png 1x, ./images/hero-milk-mug@2x.png 2x" media="(min-width: 1280px)" />
                <img class="hero__milk-mug" src="./images/hero-milk-mug-tablet.png" alt="Milk mug">
            </picture>
            <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et</p>
            <button class="hero__button-modal" type="button">
                <picture>
                    <source srcset="./images/arrow-button.png" media="(max-width: 1279px)" />
                    <source srcset="./images/arrow-button-desktop.png" media="(min-width: 1280px)" />
                    <img src="./images/arrow-button.png" alt="Button">
                </picture>
            </button>
        </div>
        <div class="hero__department">
            <p class="hero__department-number">16</p>
            <p class="hero__department-name">cafes</p>
            <p class="hero__department-number">23</p>
            <p class="hero__department-name">food trucks</p>
        </div>        
        <picture>
            <source srcset="./images/hero-girl-tablet.png 1x, ./images/hero-girl-tablet@2x.png 2x"
                media="(max-width: 1279px)" />
            <source srcset="./images/hero-girl.png 1x, ./images/hero-girl@2x.png 2x" media="(min-width: 1280px)" />
            <img class="hero__girl" src="./images/hero-girl-tablet.png" alt="Girl is enjoying ice cream">
        </picture>    
    </div>
</section>