<div class="modal-overlay" data-modal="ice-cream">

    <div class="modal-table">

        <div class="modal-table-cell">

            <div class="modal">

                <button class="modal__close"></button>

                <div class="modal__header">Eat Ice-cream, be happy!</div>

                <div class="modal__content">

                    <!-- Ваш контент -->

                    <h1 class="modal__title">Ета кайф...Марожено (с) <br>Лесь Подерв'янський</h1>

                </div>

            </div>

        </div>

    </div>

</div>

<div class="modal-overlay" data-modal="ice-coffee">

    <div class="modal-table">

        <div class="modal-table-cell">

            <div class="modal">

                <button class="modal__close"></button>

                <div class="modal__header">Drink ice-coffee, be peppy!</div>

                <div class="modal__content">

                    <!-- Ваш контент -->

                    <h1 class="modal__title">Кава це те, для чого була створена вода!</h1>

                </div>

            </div>

        </div>

    </div>

</div>

<div class="modal-overlay" data-modal="milkshake">

    <div class="modal-table">

        <div class="modal-table-cell">

            <div class="modal">

                <button class="modal__close"></button>

                <div class="modal__header">Shake It Shake It!</div>

                <div class="modal__content">

                    <!-- Ваш контент -->
                    <h1 class="modal__title">Вструснись! Разом з нами!</h1>
                    

                </div>

            </div>

        </div>

    </div>

</div>

<div class="modal-overlay" data-modal="about">

    <div class="modal-table">

        <div class="modal-table-cell">

            <div class="modal">

                <button class="modal__close"></button>

                <div class="modal__header">Professionals and true love!</div>

                <div class="modal__content">

                    <!-- Ваш контент -->

                    <h1 class="modal__title">...and some secrets :&rpar;</h1>

                </div>

            </div>

        </div>

    </div>

</div>
