<div class="modal-overlay" data-modal="test">

    <div class="modal-table">

        <div class="modal-table-cell">

            <div class="modal">

                <button class="modal__close"></button>

                <div class="modal__header">Eat Ice-cream, be happy!</div>

                <div class="modal__content">

                    <!-- Ваш контент -->

                    <h1 class="modal__title">Ета кайф...Марожено (с) <br>Лесь Подерв'янський</h1>

                </div>

            </div>

        </div>

    </div>

</div>