.reviews {
  @include section-padding(40px, 40px);
  background-color: #fff;
}

.reviews__picture {
  margin: 0 auto 15px;
}

.reviews__comment {
  font-size: 12px;
  line-height: 2.55;

  text-align: center;
  letter-spacing: 0.04em;

  padding: 7px 16px;
  background: repeating-linear-gradient(
    transparent,
    transparent 31px,
    $review-underline 31px,
    $review-underline 32px
  );

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 2.16;
    padding: 7px 20px;

    background: repeating-linear-gradient(
      transparent -1px,
      transparent 30px,
      $review-underline 30px,
      $review-underline 31px
    );
  }

  @media screen and (min-width: 1280px) {
    padding: 7px 35px;
    font-size: 16px;
    line-height: 1.86;
  }
}

.slide {
  position: relative;
  padding: 40px 50px 20px;
  background-color: $review-color;
  margin: 0 auto;

  @media screen and (min-width: 1280px) {
    max-width: 962px;
    padding: 40px 54px 20px;
  }

  //   &:before {
  //     content: url('../images/icons.svg#icon-quotes');
  //     display: block;

  //       background-image: url('../images/icons.svg#icon-quotes');
  //     width: 54px;
  //     height: 40px;
  //     background-color: rgb(255, 0, 0);
  //     background-size: contain;

  //     position: absolute;
  //     top: 28px;
  //     left: 61px;
  //     transform: translate(-50%, -50%);
  // }
//   &:after {
//     content: '. . .';
//     color: violet;
//     font-size: 50px;
//     display: block;
//     position: absolute;
//     bottom: -55px;
//     left: 50%;
//     transform: translateX(-50%);
//     width: 30px;
//     height: 15px;
//     background-image: url('../images/icons.svg#icon-productspoints');
//   }
}

.reviews__info {
  font-size: 14px;
  line-height: 1.86;
  text-align: center;
}
