.header--container {
    
display: flex;
//   justify-content: space-between;
  
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  background-color: $second-accent-color;
  justify-content: space-between;
  align-items: center;

@media screen and (min-width:768px) {
    padding-top: 37px;
    display: flex;
    align-items: center;
   
}
@media screen and (min-width:1280px) {
    padding-top: 37px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
}
// ------------Logo------------------
.header__logo {
  // margin-right: 110px;
}
// ---------------burger-------------------------
.open-menu-btn {

  
    display: flex;
  
margin-right:30px; 
background: transparent;
border: none;
 @media screen and (min-width: 1280px){
     display: none;
}
}
.header__buttoms {
 @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;

}
}


// ---------------------mob-menu-----------------
.close-menu-btn {
  margin-bottom: 23px;
  width: 14px;
  height: 14px;
  border: none;
  background: transparent;
  margin-left: auto;
 
}
.header__botton-mob-icon {
 &:hover,
  &:focus {
    fill: $accent-color;
  }
}
.mob-menu-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: $menu-color;
    width: 250px;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 6;
    padding: 23px
}
.header__button-mob {
  margin: 0 auto;
  margin-bottom: 32px;
    font-family: inherit;
        font-weight: bold;
width: 186px;
height: 44px;
left: 1006px;
top: 38px;
background: $third-text-color;
border-radius: 22px;
border:none;
color: $accent-color;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
background 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
&:focus {
    background: $accent-color;
    color: $third-text-color;
}
}
.header__botton-mob-icon {
fill: currentColor;

}
.header__mob-menu-list::before {
        content: '';
        display: inline-block;
        width: 254px;
height: 1px;
  border-bottom: 1px solid #E18298;}

.header__mob-menu-item
{
//     margin-bottom: 22px;
     &::after{
        content: '';
        display: inline-block;
        width: 254px;
height: 1px;
  border-bottom: 1px solid #E18298;}
  margin-top: 11px;
    margin-bottom: 11px;
 
}
.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.header__mob-menu-link {

    font-weight: bold;
font-size: 16px;
line-height: 21px;
/* identical to box height */
color: $third-text-color;
display: flex;
align-items: center;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
&:focus
 {
color: $accent-color;
}
}

// .header__mob-menu-link::after 
// {
//   content: '';
//   width: 254px;
// height: 42px;
// //   border-bottom: 1px solid #E18298;
// }
.header__mob-menu-list .header__mob-menu-link.current 
{
  color: $accent-color;
}
.header__botton-mob-icon {
margin-left: 16px;
}


// ----------------DESKTOP------------------------------

.header__button {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    align-items: center;
    justify-content: center;
    font-family: inherit;
        font-weight: bold;
width: 186px;
height: 44px;
left: 1006px;
top: 38px;
background: $third-text-color;
border-radius: 22px;
border:none;
color: $accent-color;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
background 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
&:focus {
    background: $accent-color;
    color: $third-text-color;
    
}
  }
}
.header__button-icon
 {
    fill: currentColor;
}
.header__button-icon 
{
  margin-left: 12px;
 
}
.header__navigation {
    display: flex;  
    @media screen and (min-width: 768px) 
    {
    
    }
}

.header__navigation-item:not(:last-child)
{
  margin-right: 30px;
}
.header__navigation-link {
    display: none;

       @media screen and (min-width: 1280px) {
           display: flex;
font-weight: bold;
font-size: 16px;
line-height: 21px;
/* identical to box height */
color: $third-text-color;
display: flex;
align-items: center;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
&:focus
 {
color: $accent-color;
}
}
}
// .header--modal-menu
// {
//     display: none;
//         @media screen and (min-width: 768px) 
//     {
//     display: flex;    
//     }
// }



// .header-logo-holder {
//     width: 199px;
//     height: 50px;
// }



.header__navigation .header__navigation-link.current 
{
  color: $accent-color;
}
