.header__container {
  background: $shadow-color;
  @include flex-centered(flex, center, space-between);

  padding-top: 6px;
  position: relative;

  @media screen and (min-width:768px) {
      padding-top: 37px;
  }
}

// ---------------burger-------------------------
.open-menu-btn {
  display: flex;
  fill: $accent-color;
  
  background: transparent;
  border: none;
}

// ---------------------mob-menu-----------------
.mob-menu {
  @media screen and (max-width: 1279px) {
    display: none;
    position: absolute;
    width: 250px;
    height: 100vh;
    top: 0;
    right: 0;
    
    padding: 123px 21px 60px;
    
    overflow: hidden;
    background-color: $menu-color;
  }
  
  @include flex-centered(flex, center, space-between);
}

.burger-button {
    @include flex-centered();

    margin-left: auto;
    width: 40px;
    height: 40px;
    
    border: none;
    background-color: transparent;
    padding: 0;
    z-index: 10;

    @media screen and (min-width: 768px) {
      margin-right: 30px;    
    }

    @media screen and (min-width: 1280px) {
        display: none;
    }
}

.burger-button .close-menu-btn {
    display: none;
}

.burger-button.is-open .open-menu-btn {
    display: none;
}

.burger-button.is-open .close-menu-btn {
    display: block;
}

@media screen and (min-width: 768px) {
  .burger-button.is-open {
    position: absolute;
    top: 14px;
    right: 34px;
    margin-right: 0;
  }
}

.mob-menu.is-open {
  display: block;
  z-index: 1;
}

.mob-menu.is-open ~ .header__button-mob {
  display: block;
  z-index: 2;
  position: absolute;
  right: 20px;
  top: 60px;

  @media screen and (min-width: 768px) {
    width: 186px;
    right: 34px;
  }
}

.header__button-mob {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}
.header__button-mob {
  width: 208px;
  height: 44px;
  background: $third-text-color;
  border-radius: 22px;
  border:none;
  color: $accent-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;

   @media screen and (min-width: 768px) {
    width: 160px;
  }
}

.header__mob-menu-list {
  @media screen and (min-width: 1280px) {
    display: flex;
  }
}

@media screen and (max-width: 1279px) {
  .header__mob-menu-item:first-child::before, 
  .header__mob-menu-item::after {
    content: '';
    display: block;
    margin-right: -5px;
    width: 254px;
    height: 1px;
    border-bottom: 1px solid #E18298;
  }
  
  .header__mob-menu-item:first-child::before {
    margin-bottom: 13px;
  }
  
  .header__mob-menu-item::after {
    margin-top: 13px;
  }  
}

.header__mob-menu-item {
  margin-top: 11px;
  margin-bottom: 11px;

  @media screen and (min-width: 1280px) {
    margin: 0;
    &:not(:last-child) {
      margin-right: 35px;
    }
  }  
}

.header__mob-menu-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: $third-text-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 11px 0;

  &:hover,
  &:focus{
    color: $accent-color;
  }
}

.current {
  color: $accent-color;
}

.header__botton-mob-icon {
  margin-left: 16px;
  fill: $accent-color;
}
